
#doodle {
    display: none;
}

#platform {
    display: none;
}

#background {
    display: none;
}

#jetpack {
    display: none;
}

#fireball {
    display: none;
}

#springcoil {
    display: none;
}

#heli {
    display: none;
}

#boots {
    display: none;
}

#gun {
    display: none;
}

#monster {
    display: none;
}